[user]
	name = Tarik02
	email = Taras.Fomin@gmail.com
[credential]
	helper = store

[includeIf "gitdir:/home/tarik02/Laradock/"]
	path = /home/tarik02/Laradock/.gitconfig

[includeIf "gitdir:/home/tarik02/Work/"]
	path = /home/tarik02/Work/.gitconfig

[help]
	autocorrect = 1
[commit]
	gpgsign = false
[gpg]
	program = gpg
[core]
	autocrlf = false
