[user]
	name = Tarik02
	email = Taras.Fomin@gmail.com

[credential]
	helper = store

[help]
	autocorrect = 1

[commit]
	gpgsign = true

[gpg]
	program = gpg

[core]
	autocrlf = false

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
